<!DOCTYPE html>
<html>
<head>
  <title>Biosoft</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p id="flash" class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p id="flash" class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>

<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#flash').remove();
  }, 3000);
 })
</script>
